.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHeader {
  margin: 30px 0;
  color: #8b90c6;
}

.loginForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #8b90c6;
  padding: 20px;
  box-shadow: 0 2px;
}

input {
  font-size: 1.3rem;
}

input[type="text"] {
    border: 0;
  margin: 10px 0;
}

.loginPage button {
    margin-top: 20px;
  border: 1px solid #8b90c6;
  font-size: 150%;
  text-align: center;
  padding: 8px 15px;
  background-color: #ffffff;
  color: #8b90c6;
  overflow: hidden;
  border-radius: 45px;
  box-shadow: 0 5px;
  margin-bottom: 3%;
}
.loginPage button:hover {
  background-color: #ffffff;
  border: 1px solid #2fb8be;
  color: #2fb8be;
}

input::placeholder {
  color: #2fb8be;
  opacity: 0.8;
}
