.postMain {
    max-width: 50%;
    min-width: 400px;
    margin: 10px auto;
    color: #2fB8BE;
    border-radius: 3rem;
    border: 1px solid black;
    padding: 10px 0;
}

.postTitle {
    width: 90%;
    margin: 0 auto;
    color: #2fB8BE;

}

.postMain p {
    max-width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #222222;
}

.postList h4 {
    font-size: .9rem;
    font-weight: bolder;
}

.postList h5 {
    font-size: .7rem;
    color: #222222;
}

.postBodyTitle {
    color: #bdd13e;
}